<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.community.mapper.NotificationMapper">
    <insert id="insert" parameterType="Notification">
        insert into notification ( notifier, receiver,outerId, type, gmt_create,status)
        values (#{notifier}, #{receiver}, #{outerId}, #{type}, #{gmtCreate}, #{status})
    </insert>

    <select id="countByUserId" resultType="int">
        select count(1)
        from notification
        where receiver = #{userId}
    </select>

    <select id="listByUserId" resultType="Notification">
        select *
        from notification
        where receiver = #{userId} order by gmt_create desc limit #{offset}
            , #{size}
    </select>

    <select id="unreadCount" resultType="Long">
        select count(1)
        from notification
        where receiver = #{userId} and status=0
    </select>

    <select id="getById" resultType="Notification">
        select *
        from notification
        where id = ${id}
    </select>

    <update id="updateStatus" parameterType="Notification">
        update notification
        set status=#{status}
        where id = #{id}
    </update>

</mapper>