<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.community.mapper.QuestionMapper">
    <insert id="create" parameterType="Question">
        insert into question (title, description, gmt_create, gmt_modified, creator, tag)
        values (#{title}, #{description}, #{gmtCreate}, #{gmtModified}, #{creator}, #{tag})
    </insert>

    <select id="list" resultType="Question">
        select *
        from question order by gmt_create desc  limit #{offset},#{size}
    </select>

    <select id="count" resultType="int">
        select count(*)
        from question
    </select>

    <select id="listByUserId" resultType="Question">
        select *
        from question
        where creator = #{userId} limit #{offset}
            , #{size}
    </select>

    <select id="countByUserId" resultType="int">
        select count(*)
        from question
        where creator = #{userId}
    </select>

    <select id="getById" resultType="Question">
        select *
        from question
        where id = ${id}
    </select>

    <update id="update" parameterType="Question">
        update question
        set title=#{title},
            description=#{description},
            gmt_modified=#{gmtModified},
            tag=#{tag}
        where id = #{id}
    </update>
    
    <update id="updateViewCount" parameterType="Question">
        update question
        set view_count=view_count+#{viewCount}
        where id = #{id}
    </update>

    <update id="updateCommentCount" parameterType="Question">
        update question
        set comment_count=comment_count+#{commentCount}
        where id = #{id}
    </update>

    <select id="selectRelated" parameterType="Question" resultType="Question">
        select *
        from question
        where id != ${id} and tag regexp #{tag}
    </select>

    <select id="findByIds" resultType="Question" parameterType="list">
        select *
        from question
        where id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="countBySearch" parameterType="com.su.community.dto.QuestionQueryDTO" resultType="Integer">
        select count(*) from question
        <where>
            <if test="search != null">
                and title regexp #{search}
            </if>
        </where>
    </select>

    <select id="selectBySearch" parameterType="com.su.community.dto.QuestionQueryDTO" resultType="Question">
        select * from question
        <where>
            <if test="search != null">
                and title regexp #{search}
            </if>
        </where>
        order by gmt_create desc  limit #{offset},#{size}
    </select>
</mapper>